@import "../../../node_modules/highlight.js/styles/tomorrow-night-bright.css";
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../styles/custom-glyphicons.css";
@import "../../../source/docs/assets/fonts/pan-docs-icons/css/pan-docs.css";
@import "../../../source/docs/assets/fonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css";
@import "../../styles/codeBlocks.css";

/* Styles that will eventually come from PDS. */
.pds-container {
  max-width: 1200px;
  padding-inline-start: var(--pds-container-marketing-padding-small);
  padding-inline-end: var(--pds-container-marketing-padding-small);
  margin-inline-start: auto;
  margin-inline-end: auto;

  @media (--breakpoint-m) {
    padding-inline-start: var(--pds-container-marketing-padding-medium-large);
    padding-inline-end: var(--pds-container-marketing-padding-medium-large);
  }
}
